**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/docker-compose*
**/Dockerfile*
**/obj
**/.idea
LICENSE
README.md